*
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(zdj/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-attachment:fixed;
}

.header
{
    text-align: center;
    padding: 20px;
    margin: auto;
}

.header h1
{
    padding: 10px;
    color: #fff;
    text-shadow: 0 0 5px #999;
    font-style: bold;
    font-size: 40px;
}

.header p
{
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 20px;
}

.karty
{
    text-align: center;
}

.karta
{
    display: inline-block;
    width: 200px;
    height: 230px;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
}

.karta1
{
    background-image: linear-gradient(rgba(124, 221, 105, 0.5),rgba(216, 206, 71, 0.5)), url(zdj/karta1.jpg);
}
.karta2
{
    background-image: linear-gradient(rgba(49, 79, 214, 0.5),rgba(194, 60, 161, 0.5)), url(zdj/karta2.jpg);
}
.karta3
{
    background-image: linear-gradient(rgba(179, 44, 44, 0.5),rgba(156, 60, 194, 0.5)), url(zdj/karta3.jpg);
}
.karta4
{
    background-image: linear-gradient(rgba(50, 108, 194, 0.5),rgba(149, 202, 238, 0.5)), url(zdj/karta4.jpg);
}
.karta5
{
    background-image: linear-gradient(rgba(48, 136, 40, 0.5),rgba(16, 190, 24, 0.5)), url(zdj/karta5.jpg);
}
.karta6
{
    background-image: linear-gradient(rgba(202, 39, 39, 0.5),rgba(26, 48, 148, 0.5)), url(zdj/karta6.jpg);
}
.karta7
{
    background-image: linear-gradient(rgba(218, 42, 42, 0.5),rgba(55, 177, 199, 0.5)), url(zdj/karta7.jpg);
}
.karta8
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(zdj/karta8.jpg);
}

.karta:hover
{
    transform: scale(1.2);
}

.karta h3
{
    color: #fff;
    text-shadow: 0 0 5px #999;
    font-size: 30px;
}

.karta p
{
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 20px;
}
