@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  background: linear-gradient(to bottom right, #f46b45, #eea849);
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

p {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 3rem;
}

button {
  font-size: 1.5rem;
  background-color: white;
  color: #f46b45;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #f46b45;
  color: white;
}

#wishes {
    font-size: 2rem;
    margin-top: 3rem;
}

#wishes.animate {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  